run_demo.py
data/
testData/
__pycache__/
.idea/
.venv
tests/

IACH_SEM
Ag_na_PS_kuličkách/
sem_10kDa_1x_coverage_viewer_config.json
sem_bead_viewer_config.json
sem_coverage_viewer_config.json
tem_particle_viewer_config.json